  <div class="row">
    <div class="col col-sm-2 col-sm-offset-10">
        <button class="btn btn-success" routerLink="/admin/pages/new" >Nieuwe Pagina</button>
        <p-growl [value]="msgs" ></p-growl>
    </div>
  </div>
  <table class="table table-hover table-striped table-sortable">
  <thead class="thead-inverse">
    <tr>
      <th *ngFor="let header of menuheader">
        {{header.headeritem}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of pages | async">
      <td>
          {{ item.title}}
      </td>
      <td>
        {{ item.body | limitchars:150 }}
      </td>
      <td>
        <button class="btn btn-primary" [routerLink]="['edit', item.$key]" >Bewerk Pagina</button>
        <button class="btn btn-danger" >Veriwjder Pagina</button>
      </td>
    </tr>
  </tbody>
</table>